@charset "UTF-8";

    .Menu {
		grid-row: 2;
		grid-column: 1;
        padding: 1em;
		color: white;
        background: blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }


