<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/Page.css}" rel="stylesheet">
<link th:href="@{/css/Header.css}" rel="stylesheet">
<link th:href="@{/css/Menu.css}" rel="stylesheet">
<link th:href="@{/css/MainBankList.css}" rel="stylesheet">
<link th:href="@{/css/Footer.css}" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title th:text="取引銀行管理"></title>
<style>
	/* 共通リセット */
	ul, li {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}	
</style>
</head>
<body>
<div class="Page">
    <header class="Header">
		ここはヘッダーです　
        <span th:text="${Title}"></span>
    </header>
	
<!-- メニュー部をインサート -->
<div th:insert="fragments/menu :: mainMenu"></div>
	
    <div class="MainBankList">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>金融機関名</th>
                        <th>支店名</th>
                        <th>口座番号</th>
                        <th>残高</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>福岡市民銀行</td>
                        <td>駅前支店</td>
                        <td>F1234567</td>
                        <td>1,000円</td>
                    </tr>
                    <tr>
						<td>佐賀市民銀行</td>
						<td>本店</td>
						<td>S1212123</td>
						<td>50,000円</td>
                    </tr>
                    <tr>
						<td>長崎地域ミドリ銀行</td>
						<td>県庁内支店</td>
						<td>N5656567</td>
						<td>10,000円</td>
                    </tr>
                    <tr>
						<td>熊本合同銀行</td>
						<td>阿蘇出張所</td>
						<td>A456456</td>
						<td>1.000,000円</td>
                    </tr>                    
                    
                </tbody>
            </table>
        </div>
    </div>

    <Footer class="Footer">
        ここはフッターです　
		<a class="ActionBtn" th:href="@{/test/data/create}">テストデータ作成</a>
    </Footer>
</div>
</body>
</html>
